---
http_interactions:
- request:
    method: post
    uri: http://pcls1.craftyclicks.co.uk/json/geocode
    body:
      encoding: UTF-8
      string: '{"postcodes":["AA11AA","AA11AB"],"distance":{},"preserve_index":true,"key":"API_KEY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"lat":51.5132253,"lng":-0.0748047,"os":{"easting":533689,"northing":181123,"country_code":"annnnnnnn","country_text":"Country
        Name","nhs_regional_ha_code":"annnnnnnn","nhs_regional_ha_text":"Dummy Reg
        HA Code","nhs_ha_code":"annnnnnnn","nhs_ha_text":"Dummy HA Code","administrative_county_code":"annnnnnnn","administrative_county_text":"Dummy
        County Code","administrative_district_code":"annnnnnnn","administrative_district_text":"Dummy
        District Code","administrative_ward_code":"annnnnnnn","administrative_ward_text":"Dummy
        Ward Code"},"postcode":"AA11AA"},{"lat":51.513362,"lng":-0.0891883,"os":{"easting":532691,"northing":181112,"country_code":"annnnnnnn","country_text":"Country
        Name","nhs_regional_ha_code":"annnnnnnn","nhs_regional_ha_text":"Dummy Reg
        HA Code","nhs_ha_code":"annnnnnnn","nhs_ha_text":"Dummy HA Code","administrative_county_code":"annnnnnnn","administrative_county_text":"Dummy
        County Code","administrative_district_code":"annnnnnnn","administrative_district_text":"Dummy
        District Code","administrative_ward_code":"annnnnnnn","administrative_ward_text":"Dummy
        Ward Code"},"postcode":"AA11AB"}]'
  recorded_at: Thu, 27 Apr 2017 14:23:29 GMT
recorded_with: VCR 3.0.3
