---
http_interactions:
- request:
    method: post
    uri: https://api.craftyclicks.co.uk/address/1.1/find
    body:
      encoding: UTF-8
      string: '{"query":"Buckingham Palace","country":"GB","id":null,"ip":null,"coords":[],"key":"API_KEY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - fb3c05fe2cd82bf13c273e6ea9f87af9
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: |-
        {
            "results": [
                {
                    "id": "||22980101169|802154",
                    "count": 446,
                    "labels": [
                        "SW1W",
                        "Buckingham Palace Road, London"
                    ]
                },
                {
                    "id": "62887996022||22980070151|802154",
                    "count": 2,
                    "labels": [
                        "SW1W 0AE",
                        "Lower Grosvenor Place, London"
                    ]
                },
                {
                    "id": "26086283",
                    "count": 1,
                    "labels": [
                        "SW1A 1AA",
                        "Buckingham Palace, , London"
                    ]
                },
                {
                    "id": "26087150",
                    "count": 1,
                    "labels": [
                        "SW1E 5HS",
                        "Buckingham Coffee Lounge, 19-21 Palace Street, London"
                    ]
                }
            ]
        }
  recorded_at: Thu, 27 Apr 2017 14:28:58 GMT
recorded_with: VCR 3.0.3
