---
http_interactions:
- request:
    method: post
    uri: http://pcls1.craftyclicks.co.uk/json/rapidaddress
    body:
      encoding: UTF-8
      string: '{"postcode":"EC1A 9HF","key":"API_KEY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"thoroughfare_count":1,"thoroughfares":[{"delivery_points":[{"organisation_name":"ADVANCE
        INTERNATIONAL MEDIA LTD","department_name":"","po_box_number":"","building_number":"","sub_building_name":"","building_name":"6-8","udprn":"08166887","dps":"1F"},{"organisation_name":"SAUNDERSON
        HOUSE LTD","department_name":"","po_box_number":"","building_number":"","sub_building_name":"","building_name":"1-5","udprn":"08166886","dps":"1G"}],"delivery_point_count":2,"dependent_thoroughfare_name":"","dependent_thoroughfare_descriptor":"","thoroughfare_name":"LONG","thoroughfare_descriptor":"LANE"}],"postal_county":"GREATER
        LONDON","traditional_county":"MIDDLESEX","dependent_locality":"","double_dependent_locality":"","town":"LONDON","postcode":"EC1A
        9HF"}'
  recorded_at: Thu, 27 Apr 2017 15:35:33 GMT
recorded_with: VCR 3.0.3
