---
http_interactions:
- request:
    method: post
    uri: http://pcls1.craftyclicks.co.uk/json/basicaddress
    body:
      encoding: UTF-8
      string: '{"postcode":"AA11AA","include_geocode":true,"sort":null,"response":"paf_compact","lines":2,"key":"API_KEY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"thoroughfare_count":1,"thoroughfares":[{"dependent_thoroughfare_name":"","dependent_thoroughfare_descriptor":"","thoroughfare_name":"HIGH","thoroughfare_descriptor":"STREET"}],"postal_county":"POSTAL
        COUNTY","traditional_county":"TRADITIONAL COUNTY","dependent_locality":"CRAFTY
        VALLEY","double_dependent_locality":"","town":"BIG CITY","postcode":"AA1 1AA","geocode":{"lat":51.5132253,"lng":-0.0748047,"os":{"easting":533689,"northing":181123,"country_code":"annnnnnnn","country_text":"Country
        Name","nhs_regional_ha_code":"annnnnnnn","nhs_regional_ha_text":"Dummy Reg
        HA Code","nhs_ha_code":"annnnnnnn","nhs_ha_text":"Dummy HA Code","administrative_county_code":"annnnnnnn","administrative_county_text":"Dummy
        County Code","administrative_district_code":"annnnnnnn","administrative_district_text":"Dummy
        District Code","administrative_ward_code":"annnnnnnn","administrative_ward_text":"Dummy
        Ward Code"}}}'
  recorded_at: Thu, 27 Apr 2017 14:34:25 GMT
recorded_with: VCR 3.0.3
