---
http_interactions:
- request:
    method: post
    uri: http://pcls1.craftyclicks.co.uk/json/missing_endpoint
    body:
      encoding: UTF-8
      string: '{"postcode":"EC1A 9HF","key":"API_KEY"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: |
        <!DOCTYPE HTML PUBLIC "-//IETF//DTD HTML 2.0//EN">
        <html><head>
        <title>404 Not Found</title>
        </head><body>
        <h1>Not Found</h1>
        <p>The requested URL /json/missing_endpoint was not found on this server.</p>
        </body></html>
  recorded_at: Thu, 27 Apr 2017 15:36:40 GMT
recorded_with: VCR 3.0.3
