---
http_interactions:
- request:
    method: post
    uri: http://pcls1.craftyclicks.co.uk/json/rapidaddress
    body:
      encoding: UTF-8
      string: '{"postcode":"EC1A 9HF","key":""}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/javascript; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"error_code":"8001","error_msg":"Invalid or misformatted access token.
        For details on how to obtain an access token visit craftyclicks.co.uk"}'
  recorded_at: Thu, 27 Apr 2017 15:10:20 GMT
recorded_with: VCR 3.0.3
